<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
id        = "io.cordova.wedeo"
xmlns:gap = "http://phonegap.com/ns/1.0"    
version   = "2.0.0">


<name>Wedeo</name>

<description>
Wedeo App
</description>

<author href="YOUR URL" email="YOUR EMAIL">
Gaurav Yadav
</author>

<access origin="*"/>
  
<content src="index.html" /> 
<gap:plugin name="com.dawsonloudon.videoplayer" version="1.0.0" />
<gap:platform name="android" />
<preference name="loglevel" value="DEBUG"/> 
<preference name='phonegap-version' value='cli-5.1.1'/>
<preference name="permissions" value="none"/>
<preference name="orientation" value="default"/>
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="false"/>   

</widget>
